<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sw14_xp_05.pinkee"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.sw14_xp_05.pinkee.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sw14_xp_05.pinkee.gcm.permission.C2D_MESSAGE" />

    <application
        android:name=".Common"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.sw14_xp_05.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.sw14_xp_05.pinkee" />
            </intent-filter>
        </receiver>

        <service android:name="com.sw14_xp_05.gcm.GcmIntentService" />

        <activity
            android:name="com.sw14_xp_05.pinkee.ListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sw14_xp_05.pinkee.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>

        <provider
            android:name="com.sw14_xp_05.gcm.DataProvider"
            android:authorities="com.sw14_xp_05.pinkee.provider"
            android:exported="false" >
        </provider>

        <activity
            android:name="com.sw14_xp_05.pinkee.ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name="com.sw14_xp_05.pinkee.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.sw14_xp_05.pinkee.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.sw14_xp_05.pinkee.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name="com.sw14_xp_05.pinkee.BackgroundActivity"
            android:label="@string/title_activity_background" >
        </activity>
        <activity
            android:name="com.sw14_xp_05.pinkee.ShareActivity"
            android:label="@string/title_activity_share" >
        </activity>
        <activity
            android:name="com.sw14_xp_05.pinkee.ThemeActivity"
            android:label="@string/title_activity_theme" >
        </activity>
        <activity
            android:name="com.sw14_xp_05.pinkee.SavechatActivity"
            android:label="@string/title_activity_savechat" >
        </activity>
        <activity
            android:name="com.sw14_xp_05.pinkee.sendcolorActivity"
            android:label="@string/title_activity_sendcolor" >
        </activity>
        <activity
            android:name="com.sw14_xp_05.pinkee.receivecolorActivity"
            android:label="@string/title_activity_receivecolor" >
        </activity>
        <activity
            android:name="com.sw14_xp_05.pinkee.ContactsActivity"
            android:label="@string/title_activity_contacts" >
        </activity>
    </application>

</manifest>
